body {
    margin: 0 auto;
    user-select: none;
    max-width: 600px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.banner-img {
    background-color: black;
    background-image: url("images/burger.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 75px;
}

.banner-title {
    font-family: "Smythe", sans-serif;
    position: absolute;
    left: 15px;
    top: 30px;
    margin: 0;
    font-size: 42px;
    color: ivory;
    text-align: left;
}

.banner-subtitle {
    font-family: "Smythe", sans-serif;
    position: absolute;
    top: 70px;
    left: 15px;
    margin: 0;
    font-size: 24px;
    color: ivory;
    text-align: left;
}

.banner-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.text-container {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.menu {
    font-family: "Smythe", sans-serif;
    display: flex;
    flex-direction: row;
}

.item-image {
    font-size: 45px;
    opacity: .8;
}

.item-name {
    font-weight: bold;
}

.menu-content {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    width: 100%;
    margin-left: 5px;
}

.menu-items {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    padding: 1px;
}

.add-to-cart-btn {
    width: 2rem;
    height: 2rem;
    padding: 0;
    background-color: transparent;
    color: #131313;
    border: 2px solid #131313;
    border-radius: 50%;
    font-size: 1.7rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-to-cart-btn:hover {
    transform: scale(1.1);
}

.add-to-cart-btn:active {
    transform: scale(1.1);
    background-color: #16DB99;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    font-family: inherit;
    font-size: 18px;
    text-align: center;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 450px;
}

.close {
    font-family: inherit;
    color: firebrick;
    float: right;
    font-size: 24px;
    cursor: pointer;
    padding: 2px;
}

.close:hover,
.close:focus {
    color: green;
    text-decoration: none;
    cursor: pointer;
}

#payment-form input {
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;  
}

#submit-btn {
    font-family: inherit;
    display: block;
    margin: 2% auto;
    width: 85%;
    background-color: #16DB99;
    color: ivory;
    padding: 3%;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

#purchase-btn {
    display: block;
    margin: 2% auto;
    width: 85%;
    background-color: #16DB99;
    color: ivory;
    padding: 3%;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    font-family: inherit;
}

#title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    text-align: center;
    font-size: 1.5rem;
}

.cart-item {
    font-family: inherit;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    padding: 4px;
    margin-right: 2rem;
}

.cart-item-left {
    display: flex;
    align-items: center;
}

.cart-item-right {
    display: flex;
    align-items: center;
}

.remove-from-cart-btn {
    margin-left: 10px;
    background-color: transparent;
    border: 1px solid darkgray;
    font-size: .8rem;
    color: darkgray;
    padding: 2px;
}

.remove-from-cart-btn:hover {
    transform: scale(1.05);
    color: red;
    border: 1px solid red;
}

.remove-from-cart-btn:active {
    transform: scale(0.95);
    border: 1px solid red;
}

#total-price {
    border-top: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem;
    font-size: 1.2rem;
    max-width: 500px;
    margin: auto;
    font-weight: bold;
}

.border {
    margin: auto;
    border-bottom: 2px solid lightgrey;
    max-width: 450px;
    padding: 1.3rem;
}

#thank-you-message {
    display:none; 
    color: #065F46;
    font-size: 1.4rem; 
    text-align: center; 
    padding: 20px;
    background-color: #ECFDF5;
}
